@media ( max-width: 1200px )
    .button
        &:hover
            box-shadow: none
    .modal
        &__close
            &:hover
                color: $main-color
@media ( max-width:  991px)
    .header
        display: flex
        justify-content: space-around
    .promo
        &__wrapper
            display: flex
            align-items: center
    .consultation
        .title
            &_left
                text-align: center
        &__descr
            text-align: center
        .feed-form
            justify-content: center
            margin: 36px auto 0 auto
    .catalog
        &__content
            &_active
                display: flex
                justify-content: center
    .reviews
        &-item
            &__img
                margin-right: 20px
                margin-left: 20px
@media ( max-width: 767px )
    .benefits
        padding-bottom: 80px
        &__icons
            display: flex
            flex-direction: column
        &__descr
            display: block
            margin: 0 auto
    .consultation
        .title 
            &_left
                font-size: 25px 
    .catalog
        &__tabs
            transform: none
        &__tab
            width: 175px
            div
                transform: none
    .footer
        &__info
            width: 385px
            height: 195px  
            padding-top: 25px 
        &__addr
            font-size: 17px
        &__phone
            font-size: 17px
            margin-top: 25px
        &__social
            margin-top: 25px
        &__social-item
            width: 40px
            height: 40px
            img
                height: 20px
@media  ( max-width: 593px )
    .header
        &__phone
            font-size: 15px
    .catalog
        &__tab
            width: 150px
            div
                font-size: 13px
@media  ( max-width: 575px )
    .header
        &__official
            display: none
            span
                display: none
    .benefits
        padding-top: 40px
        .title
            font-size: 20px
    .promo
        &__icons
            width: 100%  
        &__header
            text-align: center
            font-size: 26px
        &__subheader
            text-align: center
            font-size: 19px
    .consultation
        min-height: 550px
        padding: 50px 0 0px 0
        .title 
            &_left
                font-size: 18px
        &__descr
            font-size: 15px
    .reviews
        h2
            font-size: 20px
        &-item
            display: flex
            flex-direction: column
            align-items: center
            text-align: center
            &__descr
                max-width: 400px    
                align-items: center
            &__img
                margin-bottom: 20px
            &__review
                max-width: 270px
                font-size: 14px
    .catalog
        &__tab
            max-width: 100px
            line-height: 22px
            div
                font-size: 10px  
                height: 30px
                line-height: 30px
        h2
            font-size: 20px
    .footer
        &__info
            width: 100%
            max-height: 195px  
            padding-top: 25px 
        &__addr
            font-size: 17px
        &__phone
            font-size: 17px
            margin-top: 25px
        &__social
            margin-top: 25px
        &__social-item
            width: 40px
            height: 40px
            img
                height: 20px
    .modal
        &__close
            right: 20px
            top: 20px
@media ( max-width: 350px )
        .modal
            &__close
                display: flex
                right: 50%
                transform: translateX(50%)
                top: -40px
                width: 30px
                height: 30px
                font-size: 30px
                line-height: 27px
                border-radius: 100%
                background-color: #fff
                justify-content: center
@media  ( max-width: 320px )
    .promo
        &__header
            font-size: 20px
        &__subheader
            font-size: 13px
    .benefits
        padding-top: 40px
        .title
            font-size: 20px




    
                
    
            
